**/bin/
**/obj/
**/.vs/
**/node_modules/
**/dist/
.env
appsettings.Development.json

# Forzar ignorar por ruta completa
ClinicksApi/obj/
ClinicksApi/bin/
ClinicksWeb/node_modules/

# Visual Studio archivos temporales
.vs/
**/bin/
**/obj/
*.user
*.suo